/*===============
* == GERNERAL  ==
*===============*/

@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

body {
  color: #bfbfbf !important;
  background-color: #414141 !important;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  position: relative;
  z-index: 999;
}

.span1 {
  grid-column: span 1;
}

.span2 {
  grid-column: span 2;
}

/*============
* == INTRO  ==
*============*/

#introDiv1,
#introDiv2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

#introDiv2 {
  justify-content: center;
  padding: 5%;
}

#introDiv1 h4 {
  font-size: 3vw;
  top: 35vh;
  margin: 0;
}

#maxWrapper {
  top: 40vh;
  display: block;
}

#maxWrapper div {
  height: min-content;
}

#maxWrapper h1 {
  font-size: 9vw;
  color: #ca3e47;
}

.scrollWords {
  color: #ca3e47;
}

/*============
* == ABOUT  ==
*============*/

#aboutDiv1,
#aboutDiv2 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

#aboutDiv2 {
  justify-content: flex-start !important;
  padding: 5%;
  padding-top: 8vw;
  overflow: scroll;
  text-align: left;
}

/*==========
* == NAV  ==
*==========*/
.navBannerWrapper {
  position: sticky !important;
  top: 0;
  height: 100%;
  z-index: 999;
  border-bottom: 3px solid #ca3e47;
  /* background: #414141; */
}

#navBar {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  padding-top: 3%;
  z-index: 9999;
}

#navBar a:hover {
  transition: color linear 0.3s;
  color: #ca3e47;
  cursor: pointer;
}

/*=============
* == MOBILE  ==
*=============*/
@media (max-width: 900px) {
  /*===============
  * == GERNERAL  ==
  *===============*/
  .span1 {
    grid-column: span 2;
    height: 30vh !important;
  }

  .span2 {
    grid-column: span 2;
    height: 70vh !important;
    justify-content: start !important;
  }

  .grid {
    padding-top: 15%;
    position: relative;
    z-index: 999;
  }

  /*============
  * == INTRO  ==
  *============*/

  #introDiv1 h4 {
    font-size: 7vw;
  }

  #maxWrapper h1 {
    font-size: 15vw;
  }

  /*============
  * == ABOUT  ==
  *============*/

  #aboutDiv2 {
    padding-top: 0 !important;
  }
}
